* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div.scroll-container {
  background-color: wheat;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
img{
  width: 50%;
}
/* Header/logo Title */
.header {
  padding: 40px;
  text-align: center;
  background: tan;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: wheat;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right {
  float: right;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}




.footer {
  padding: 10px;
  text-align: center;
  background: wheat;
}


@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
  img{
    width: 100%;
  }
 .scroll-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}